{{#each posts}}


<div class="post-box">
    <div class="post-title">
        <div class="title-box">
            <a href="/single-post/{{ id }}">{{ title }}</a>
        </div> 
        
        <div class="post-by">
            Posted by {{ user.username }} on {{ createdAt }}
        </div>
    </div>

    <div class="post-body">
        {{ post_content }}
    </div>
</div>


{{/each}}